<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <h1 class="title"><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
</body>
</html>

<script src="js/login.js"></script>